In [2]:
from os.path import join
from pandas import read_csv 
import pandas as pd
import torch 
from torch_geometric.data import HeteroData 
import torch_geometric.transforms as T
from datetime import date, datetime, timedelta
from torch.utils.data import Dataset
import os.path as osp
import os
import warnings

In [8]:
agg = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/Aggregated_data.csv")
agg

/tmp/ipykernel_6147/1188156398.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  agg = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/Aggregated_data.csv")

                         Unnamed: 0      1
0                               NaN  mains
1                               NaN    NaN
2         2015-07-05 00:00:00+02:00    NaN
3         2015-07-05 00:00:01+02:00    NaN
4         2015-07-05 00:00:02+02:00    NaN
...                             ...    ...
13301996  2015-12-05 22:59:54+01:00    NaN
13301997  2015-12-05 22:59:55+01:00    NaN
13301998  2015-12-05 22:59:56+01:00    NaN
13301999  2015-12-05 22:59:57+01:00    NaN
13302000  2015-12-05 22:59:58+01:00    NaN

[13302001 rows x 2 columns]

In [2]:
all = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/All_data.csv")
all

:

:

In [ ]:
app = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/Appliances_data.csv")
app

In [3]:
wifi = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/WiFi_RSSI.csv")
wifi

                Unnamed: 0                ESSID              BSSID  RSSI
0      2015-07-20 20:30:30              Tele2-1  00:24:8c:2b:ae:af   -80
1      2015-07-20 20:30:30  Namma mane Internet  24:65:11:b9:3b:9d   -50
2      2015-07-20 20:30:30        HG655D-F7196B  7a:05:28:f7:19:68   -61
3      2015-07-20 20:30:30  DIRECT-f2Philips TV  d2:ae:ec:4c:a9:04   -63
4      2015-07-20 20:30:30     DIRECT-mv-BRAVIA  9e:ad:97:c1:a0:d1   -64
...                    ...                  ...                ...   ...
80457  2015-07-25 19:54:53    KPN-VGV7519C8F889  9c:80:df:c8:f8:89   -91
80458  2015-07-25 19:54:53               jansen  00:0c:f6:0f:19:07   -88
80459  2015-07-25 19:54:53           Ziggo32524  00:24:b2:75:b2:64   -86
80460  2015-07-25 19:54:53          H368N13B128  54:22:f8:13:b1:28   -87
80461  2015-07-25 19:54:53              Paps202  00:14:bf:6e:6a:22   -91

[80462 rows x 4 columns]

In [4]:
BT = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/BT_RSSI.csv")
BT

,Time,Id,RSSI,Temperature,BatteryLevel,Proximity,Location
0,2015-07-20 18:02:41,beacon_3E,-69,24,HIGH,2.163532,Kitchen
1,2015-07-20 18:02:41,beacon_0D,-62,23,HIGH,1.010760,Kitchen
2,2015-07-20 18:02:41,beacon_8C,-70,23,HIGH,2.404329,Kitchen
3,2015-07-20 18:02:41,beacon_75,-57,23,HIGH,0.431352,LivingRoom
4,2015-07-20 18:02:41,beacon_79,-64,23,HIGH,1.260284,LivingRoom
...,...,...,...,...,...,...,...
983642,2015-12-15 11:11:58,beacon_27,-97,-17,LOW,28.470570,Room1
983643,2015-12-15 11:11:58,beacon_87,-75,-17,LOW,4.014622,Room2
983644,2015-12-15 11:11:58,beacon_92,-86,-17,LOW,11.323405,Room2
983645,2015-12-15 11:11:58,beacon_40,-70,-17,LOW,2.404329,StoreRoom
983646,2015-12-15 11:12:58,beacon_40,-109,16,LOW,69.809357,StoreRoom